.MoreVideos {
  all: unset;
  padding: 10px 30px;
  background-color: #2b2b2b;
  color: white;
  font-family: filimo;
  border-radius: 10px;
  font-weight: bold;
  transition: 500ms;
  margin-top: 700px;
  cursor: pointer;
  margin-right: 900px;
  &:hover {
    border: 2px solid white;
    transition: 500ms;
  }
}
